.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.pause-phase {
    position: absolute;
    height: 37px;
    margin-top: 1px;
	vertical-align: middle;
    user-select: false;

    background-color: #aaa;
}

.pause-phase-content {
	position: absolute;
	width: 100%;
	height: 100%;
    text-align: center;
    vertical-align: middle;
}

.phase {
    position: absolute;
	height: 37px;
	vertical-align: middle;
    user-select: false;

    background-color: #fff;
    border: 1px solid #aaa;
    color: white;
}

.phase-content {
	position: absolute;
	width: calc(100% - 30px);
	height: 100%;
    text-align: center;
    vertical-align: middle;
}

.phase-throughput-handle {
	position: absolute;
	margin-left: calc(100% - 30px);
	height: 37px;
	background: #627028;
	width: 30px;
	vertical-align: middle;
	text-align: center;
}

.phase-content-label {	
    color: #fff;
}

.phase-content-throughput {
	position: absolute;
	width: 100%;
    background-color: #AAC253;
}

.phase-throughput-caret {
	display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 13.0px;
    border-color: transparent transparent transparent #fff;
}

.program-row {
    height: 40px;
    border-bottom: 1px solid #999;
}

.program-row-footer {
    height: 40px;
}

.program-row-footer.content {
    text-align: center;
}

.program-row-total {
    height: 40px;
    padding: 0px;
    /* border-bottom: 1px solid #999; */
    border-left: 1px solid #999;
    /* position: absolute; */
    text-align: center;
    /* user-select: false; */
    vertical-align: middle;
}

.program-row-label {
    font-weight: normal;
    height: 40px;
    border-right: 1px solid #999;
    padding-left: 2px;
}

.program-pause-label {
    font-weight: normal;
    height: 40px;
    border-right: 1px solid #999;
    padding-left: 26px;
}

.program-footer-label {
    font-weight: normal;
    height: 40px;
    border-right: 1px solid #999;
    padding-left: 26px;
}

.footer {
    border-bottom: none;
}

.error {
    color: #f00 !important;
    font-weight: bold !important;
}
