.pause-phase {
    height: 37px;
    position: absolute;
    margin-top: 1px;
    background-color: #aaa;
    color: black;
    user-select: false;
}

.phase {
    height: 37px;
    position: absolute;
    /*float: left;*/
    margin-top: 1px;
    /*text-align: center;*/
    /*background-color: #bcf;*/
    background-color: #fff;
    /*vertical-align: middle;*/
    /*line-height: 37px;*/
    border: 1px solid #aaa;
    color: white;
    user-select: false;
}

.pause-phase {
    height: 37px;
    position: absolute;
    margin-top: 1px;
    background-color: #bbb;
    border: 1px solid #aaa;
    color: white;
    user-select: false;
}

.phase-ml {
    width: 100%;
    position: absolute;
    /*background-color: #67f;*/
    background-color: #AAC253;
    /*background-color: #f70;*/
    user-select: false;
}

.phase-label {
    position: absolute;
    color: #fff;
    text-align: center;
    user-select: false;
    vertical-align: middle;
}

.fl-recipe-row {
    height: 40px;
    border-bottom: 1px solid #999;
}

.fl-recipe-label {
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #999;
}

.phase-controls {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    user-select: false;
}

.phase-controls-center {
    display: table-cell;
    height: 100%;
    /*background-color: rgba(200, 200, 255, 0.8);*/
    background-color: rgba(0, 0, 5, 0.01);
    /*background-color: transparent;*/
    /*border: 2px dashed #000;*/
    /*border: 2px solid #99B142;*/
    user-select: false;
}

.phase-controls-center:hover {
    /*background-color: transparent;*/
    /*background-color: rgba(250, 250, 100, 0.3);*/
}

.phase-controls-right {
    display: table-cell;
    width: 15px;
    height: 100%;
    /*background-color: transparent;*/
    border: 1px dashed #000;
    background-color: rgba(255, 255, 255, 0.4);
    user-select: false;
}

.phase-controls-right:hover {
    /*background-color: transparent;*/
    /*background-color: rgba(250, 250, 100, 0.3);*/
}
